body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (min-width: 320px) and (max-width: 360px){
  .reponsive_table{
    max-width: 320px;
    overflow: scroll;
  }
}
@media (min-width: 560px) and (max-width: 991px) {
  .reponsive_table{
    max-width: 520px !important;
    overflow: scroll;
  }
}
/* @media (min-width: 330px) and (max-width: 991px) {
  .reponsive_table{
    max-width: 320px;
    overflow: scroll;
  }
} */